body{
	font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
	background: #fff;
}
a{
	cursor: pointer;
	text-decoration: none;
	transition: all 0.1s ease-in;
}
a:hover{
	opacity: 0.8;
}
.nav{
	background: #fff;
	padding: 50px 0px;
}
.logo-container{
	width: 60px;
}
.center{
	text-align: center;
}
.container-960{
	width: 960px;
	margin: 0 auto;
}
.main-header{
	font-size: 48px;
	color: #333;
	margin: 40px 0px 20px 0px;
	letter-spacing: 1px;
}
.sub-header{
	font-size: 24px;
	color: #333;
	font-weight: 300;
	margin: 0px 0px 20px 0px;
}
.logo-container img{

}
.info-section{
	text-align: left;
	margin: 50px 0px;
}
.info-section-header{
	font-size: 24px;
	color: #333;
	margin: 20px 0px 25px 0px;
	letter-spacing: 2px;
}
.info-section-desc{
	font-size: 18px;
	color: #666;
	line-height: 1.6;
	margin: 0px 0px 0px 0px;
	font-weight: 300;
}
#instagram{
	width: 100%;
	text-align: center;
	margin: 80px auto 50px auto;
}
#instagram a img{
	margin: 7px;
	width: 200px;
	border-radius: 4px;
}
#instagram a img:hover{
	opacity: 0.75;
}
.footer{
	padding: 60px 0px 80px 0px;
}
.footer-desc{
	font-size: 16px;
	color: #999;
	font-weight: 300;
	margin: 20px 0px 0px 0px;
	line-height: 1.6;
}
.navbar-links-container{
	float: right;
	padding: 20px 0px;
}
.navbar-link-item{
	display: inline-block;
	font-size: 14px;
	font-weight: 300px;
	color: #666;
	padding: 0px 10px;
}
.info-section-link{
	display: block;
	margin: 25px 0px;
	color: #FF923F;
	font-size: 18px;
}
.info-section-link img{
	position: relative;
	max-height: 18px;
	margin-left: 10px;
	top: 3px;
	transition: all 0.1s ease-in;
}

@media(max-width: 800px){
	body{
		overflow-x: hidden;
	}
	.container-960{
		width: 100%;
	}
	#instagram{
		width: 100%;
		text-align: center;
		margin: 30px auto;
	}
	#instagram a img{
		margin: 5px;
		width: 100px;
	}
	.info-section{
		margin: 30px 0px;
	}
	.main-header{
		font-size: 24px;
	}
	.sub-header{
		font-size: 20px;
	}
	.nav{
		padding: 25px 0px;
	}
	.logo-container{
		width: 50px;
	}
	.logo-container img{
		width: 50px;
		height: auto;
	}
	.navbar-links-container {
    	padding: 10px 0px;
	}
	.navbar-link-item {
		padding: 0px 5px;
	}
	.info-section-desc {
		font-size: 16px;
	}
	.info-section-header {
    	font-size: 21px;
	}
	.info-section-link {
		font-size: 16px;
		margin: 20px 0px;
	}
	.footer-desc{
		font-size: 14px;
	}
}