body{
	font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
	background: #fff;
	font-size: 16px;
}

.logo-container{
	opacity: 1;
}

.logo-container:hover{
	opacity: .7;
}
.logo-container .main-logo{
	width:110px;
	height: auto;
}

.main-logo .a{
	fill:rgba(0,0,0,.8);
}
.main-logo .b{
	fill:rgba(0,0,0,.4);
}



a{
	cursor: pointer;
	text-decoration: none;
	transition: all 0.2s ease-in;
}

.nav{
	background: #fff;
	padding: 20px 0px;
}
.logo-container{
	width: 60px;
}
.center{
	text-align: center;
}

.container-full-width{
	width: 100%;
	margin: 0 auto;
}
.container-960{
	width: 960px;
	margin: 0 auto;
}

.site-header{
	max-width: 95%;
	margin: 0 auto;
}
.main-header{
	font-size: 4rem;
	color: #333;
	margin: 40px 0px 20px 0px;
	letter-spacing: -.03em;
}
.main-header .hash{
	opacity: .3;
}
.sub-header{
	font-size: 2.2rem;
	color: #333;
	font-weight: 300;
	margin: 0px 0px 20px 0px;
}
.logo-container img{

}
.info-section{
	text-align: left;
	margin: 50px 0px;
}
.info-section-header{
	font-size: 1.6rem;
	color: #333;
	margin: 20px 0px 25px 0px;
}
.info-section-desc{
	font-size: 1rem;
	-webkit-font-smoothing: antialiased;
	color: #666;
	line-height: 1.6;
	margin: 0px 0px 0px 0px;
	font-weight: normal;
}
#instagram{
	width: 100%;
	text-align: center;
	margin: 100px auto 50px auto;
}
#instagram a{
	display: inline-block;
	overflow: hidden;
	margin: 7px;
}
#instagram a img{
	width: 300px;
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
	transition: all 0.2s ease-in;
}
#instagram a img:hover{
	-ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Chrome, Safari, Opera */
    transform: scale(1.05);
}
.footer{
	padding: 60px 0px 80px 0px;
}
.footer-desc{
	font-size: 16px;
	color: #999;
	font-weight: 300;
	margin: 20px 0px 0px 0px;
	line-height: 1.6;
}
.navbar-links-container{
	float: right;
	padding: 20px 0px;
}
.navbar-link-item{
	display: inline-block;
	font-size: 14px;
	font-weight: 300px;
	color: #666;
	padding: 0px 10px;
}
.info-section-link{
	display: inline-block;
	margin: 25px 0px;
	color: #000;
	font-size: 1.1rem;
	line-height: 1.4;
	font-weight: bold;
	border-bottom: 2px solid #ddd;
}

.info-section-link:hover{
	border-bottom-color: #999;
}
.info-section-link img{
	position: relative;
	max-height: 18px;
	margin-left: 10px;
	top: 3px;
	transition: all 0.1s ease-in;
}

@media(max-width: 800px){
	body{
		overflow-x: hidden;
	}
	.container-960{
		width: 100%;
	}
	#instagram{
		width: 100%;
		text-align: center;
		margin: 30px auto;
	}
	#instagram a img{
		margin: 5px;
		width: 100px;
	}
	.info-section{
		margin: 30px 0px;
	}
	.main-header{
		font-size: 1.3rem;
		letter-spacing: 0px;
	}
	.sub-header{
		font-size: 20px;
	}
	.nav{
		padding: 25px 0px;
	}
	.logo-container{
		width: 50px;
	}
	.logo-container img{
		width: 50px;
		height: auto;
	}
	.navbar-links-container {
    	padding: 10px 0px;
	}
	.navbar-link-item {
		padding: 0px 5px;
	}
	.info-section-desc {
		font-size: 16px;
	}
	.info-section-header {
    	font-size: 1.2rem;
    	letter-spacing: 0px;
	}
	.info-section-link {
		font-size: 16px;
		margin: 20px 0px;
	}
	.footer-desc{
		font-size: 14px;
	}
}